body{
    margin: 50px;
}
.caixas{    
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid black;
    border-radius: 10px;
}
.infp{
    float: left;
}
.formacad{
    float: left;
}
.exprof{
    float: left;
}
.cabecalho{
    font-size: 50px;
    font-weight: 700;
}
.arrumar{
    
}
.nav{
}
.nav-link{
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
    border-left: 1px solid black;
    top: 50%;
    left: 50%;
}
.nav-item{
    margin-bottom: 20px;
}
.ultimo{
    border-right: 1px solid black;
}