body{
    margin: 50px;
}
.container{
    font-size: 20px;
    float: left;
}
img{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    float: left;
    margin-right: 10px;
}
.caixas{    
    font-size: 17px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
}
.cabecalho{
    font-size: 50px;
    font-weight: 700;
}
.nav{
}
.nav-link{
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
    border-left: 1px solid black;
    top: 50%;
    left: 50%;
}
.nav-item{
    margin-bottom: 20px;
}
.ultimo{
    border-right: 1px solid black;
}